<%- include('../../partials/header') %>
<%- include('../../partials/navbarAdmin') %>
<body>
    <div class="container">
        <hr>
        <h2>Category</h2>
        <a class="btn btn-success" href="/admin/categories/new"> New Category</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <% categories.forEach(category =>{ %>
            <tr>
                    <td><%=category.id %> </td>
                    <td><%=category.name %> </td>
                    <td><a href="/admin/categories/edit/<%=category.slug%>" class="btn btn-warning">Editar</a>
                    <form action="/admin/categories/delete" method="POST" style="display: inline;" onsubmit="confirmDelete(event, this)">
                        <input type="hidden" name="id" value="<%=category.id%>">
                        <button class="btn btn-danger">Deletar</button></td>  
                    </form>              
                <% }) %>
            </tr>
            <tbody>

    
            </tbody>
        </table>
    </div>
</body>

<%- include('../../partials/footer') %>
<script> 
    const confirmDelete= (event, form) => {
        event.preventDefault()
        if(window.confirm('Deletar Categoria?')) {
            form.submit()
        }
    }
</script>
<%- include('../../partials/footer') %>