<div class="container">
    <form action="/categories/category" method="POST">
        <select name="id" class="form-select">
            <% categories.forEach(category => { %>
                <% if(idCategory){ %>
                    <% if(idCategory == category.id) { %>
                        <option value="<%=category.id%>" selected><%=category.name%></option>
                    <%} else{%> 
                        <option value="<%=category.id%>" ><%=category.name%></option>  
                    <% } %>
                       
                <% }else { %>
                    <option value="<%=category.id%>" ><%=category.name%></option>          
                <% } %>
                <% }) %>
            </select>
            <br>
            <button type="submit" class="btn btn-primary">Aplicar</button>
    </form>
    <hr>

</div>
