<%- include('../../partials/header') %>
<%- include('../../partials/navbarAdmin') %>
<body>
    <form action="/admin/books/save" method="POST">
        <input type="hidden" name="id" value="<%=book.id%>">
        <div class="container">
            <hr>
            <h2>Books</h2>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Nível</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Cod</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><input type="text" name="name" value="<%= book.name %>" class="form-control" required></th>
                        <th><select name="level" class="form-select" required>
                            <option  value=""></option>
                            <option value="Iniciante">Iniciante</option>
                            <option value="Intermediário"> Intermediário</option>
                            <option value="Avançado">Avançado</option>
                        </select></th>
                        <th><input type="number" name="quant" value="<%= book.quant %>" class="form-control" required></th>
                        <th><input type="number" name="price" value="<%= book.price %>" class="form-control" required></th>
                        <th><input type="number" name="cod" value="<%= book.cod %>" class="form-control" required></th>
                        <th><select name="category" class="form-select" required>
                            <% categories.forEach(category => { %>
                                
                                <option value="<%=category.id%>" 
                                ><%=category.name%> </option>
                            <% }) %>
                        </select></th>
                    </tr>
        
                </tbody>
            </table>
            <label for="textarea"><h4>Descrição:</h4></label>
            <textarea name="description" cols="30" rows="10" class="form-control" required><%= book.description %></textarea><br>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>
    </form>
</body>

<%- include('../../partials/footer') %>