<%- include('../../partials/header') %>
<%- include('../../partials/navbarAdmin') %>
<body>
    <div class="container">
        <hr>
        <h2>Books</h2>
        <a class="btn btn-success" href="/admin/books/new"> New book</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nível</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(book => { %>
                <tr>
                    <td><%=book.name %></td>
                    <td><%=book.level %></td>
                    <td><%=book.quant %></td>
                    <td><%=book.price %></td>
                    <td><%=book.category.name %></td>

                    <td><a href="/admin/books/edit/<%=book.id%>" class="btn btn-warning">Editar</a>
                    <form action="/admin/books/delete" method="POST" style="display: inline;" onsubmit="confirmDelete(event, this)">
                        <input type="hidden" name="id" value="<%=book.id%>">
                        <button class="btn btn-danger" type="submit" >
                            Deletar
                        </button></td>
                    </form>    
                    
                </tr>
                <% }) %> 
    
            </tbody>
        </table>
    </div>
</body>

<%- include('../../partials/footer') %>
<script> 
    const confirmDelete= (event, form) => {
        event.preventDefault()
        if(window.confirm('Deletar livro?')) {
            form.submit()
        }
    }
</script>
<%- include('../../partials/footer') %>