<%- include('../../partials/header') %>
<%- include('../../partials/navbarAdmin') %>
<body>
    <form action="/admin/books/create" method="POST">
        <div class="container">
            <hr>
            <h2>Book</h2>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Nível</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Cod</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><input type="text" name="name"  class="form-control" required></th>
                        <th><select name="level" class="form-select" required>
                            <option value=""></option>
                            <option value="Iniciante">Iniciante</option>
                            <option value="Intermediário"> Intermediário</option>
                            <option value="Avançado">Avançado</option>
                        </select></th>
                        <th><input type="number" name="quant"  class="form-control" required></th>
                        <th><input type="number" name="price"  class="form-control" required></th>
                        <th><input type="number" name="cod"  class="form-control" required></th>
                        <th><select name="category" class="form-select" required>
                            <option></option>
                            <% categories.forEach(category => { %>
                                <option value="<%=category.id%>"> <%= category.name %></option>                            
                            <%}) %>
                        </select></th>
                    </tr>
        
                </tbody>
            </table>
            <label for="textarea"><h4>Descrição:</h4></label>
            <textarea name="description" id="" cols="30" rows="10" class="form-control"></textarea><br>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</body>

<%- include('../../partials/footer') %>